[Unit]
Description=Linux Network Monitoring API (FastAPI/Uvicorn)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=eli
Group=eli
WorkingDirectory=/home/eli/projects/linux-network-monitoring/server
Environment=PYTHONUNBUFFERED=1

Environment=NETMON_API_KEY=CHANGE_ME
EnvironmentFile=/etc/linux-netmon.env

ExecStart=/home/eli/projects/linux-network-monitoring/server/.venv/bin/python -m uvicorn app:app --host 127.0.0.1 --port 8000

Restart=on-failure
RestartSec=5
UMask=0077

# --- Security Hardening (works with metrics.db in project folder) ---
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=read-only
ReadWritePaths=/home/eli/projects/linux-network-monitoring/server

ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
LockPersonality=true
MemoryDenyWriteExecute=true
RestrictSUIDSGID=true
RestrictRealtime=true

[Install]
WantedBy=multi-user.target

